$primary: #0c2f33;
$secondary: #215359;
$secondaryLight: #4c858b;
$black: #000000;
$orange: #ea6628;
$rose: #e33e54;
$roseDark: #ae2236;
$white: #ffffff;
$grayLight: #e5e5e5;

$mainFont: 'Montserrat-Regular', sans-serif;
$mediumFont: 'Montserrat-Medium', sans-serif;
$boldFont: 'Montserrat-Bold', sans-serif;
$semiBoldFont: 'Montserrat-SemiBold', sans-serif;
$extraBoldFont: 'Montserrat-ExtraBold', sans-serif;
