section.process--container
	h2.commons--header #[span] Видео об установке
	p.commons--paragragh.process--paragragh Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	div.process--videoContainer
		div.process--videowrapper
			iframe.process--video(src="https://www.youtube.com/embed/CumICKKeWEM" z-index="3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		img.process--orangeBlobLeft(src="./../../assets/images/orangeBlob.png")
		img.process--orangeBlobRight(src="./../../assets/images/orangeBlob.png")
		img.process--dotsLeft(src="./../../assets/images/dots.png")
		img.process--dotsRight(src="./../../assets/images/dots.png")