.process--container {
  margin-top: 63px;
  height: 759px;
  .process--paragragh {
    margin: 23px 0 100px 0;
  }
  .process--videoContainer {
    position: relative;
    .process--videowrapper {
      width: 771px;
      height: 438px;
      position: relative;
      margin: 0 auto;
      z-index: 3;
      .process--video {
        width: 771px;
        height: 438px;
      }
    }
    .process--orangeBlobLeft {
      position: absolute;
      z-index: 1;
      top: 61px;
      left: 32px;
    }
    .process--orangeBlobRight {
      position: absolute;
      z-index: 1;
      top: -37px;
      right: 32px;
      width: 630px;
    }
    .process--dotsLeft {
      position: absolute;
      z-index: 2;
      top: 225px;
      left: 96px;
      width: 31px;
    }
    .process--dotsRight {
      position: absolute;
      z-index: 2;
      top: -49px;
      right: 108px;
      width: 31px;
    }
  }
}

@media (max-width: 1220px) {
  .process--container {
    margin-top: 51px;
    height: 759px;
    .process--paragragh {
      margin: 36px 0 32px 0;
    }
    .process--videoContainer {
      img {
        display: none;
      }
      .process--videowrapper {
        max-width: 100%;
        height: 419px;
        margin: 0 auto;
        .process--video {
          max-width: 100%;
          height: 419px;
          margin: 0 auto;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .process--container {
    margin-top: 3px;
    height: 602px;
    .process--paragragh {
      margin: 25px 0 50px 0;
    }
    .process--videoContainer {
      .process--videowrapper {
        max-width: 96%;
        height: 96%;
        margin: 0 auto;
        .process--video {
          max-width: 96%;
          height: 96%;
          margin: 0 auto;
        }
      }
    }
  }
}
