section.why--container
	h2.commons--header #[span] Почему Дымоход.ру?
	p.commons--paragragh.why--paragragh-loc В отличие от других производителей,мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
	.why--facts
		.why--factsItem 
			img(src="./assets/images/guarantee.png")
			p.why--factsHeader Большой гарантийный срок
			p.why--factsText Крепёж, стыковка элементов – #[span.why--factsItem-roseText 10 лет]
			p.why--factsText Сквозная коррозия труб – #[span.why--factsItem-roseText 5 лет]
			p.why--factsText Гидроизоляция – #[span.why--factsItem-roseText 3 года]
		.why--factsItem.why--factsItem-mgleft
			img(src="./assets/images/architect.png")
			p.why--factsHeader Помощь в покупке агрегата 
			p.why--factsText (печи, камина, котла), а также качественной 
			p.why--factsText установке на объекте с последующим
			p.why--factsText гарантийным сервисом
		.why--factsItem 
			img(src="./assets/images/review.png")
			p.why--factsHeader Реальные отзывы клиентов 
			p.why--factsText Убедитесь в добросовестности исполнения, 
			p.why--factsText прочитав #[a(href="#") Отзывы клиентов] в специальном
			p.why--factsText разделе.


