h1.hero--header.hero--header-mgTop Монтаж дымоходов
nav.hero--breadCrumbsContainer
	a.hero--breadCrumbsItem.hero--breadCrumbsItem-nonActive(href="#") Главная   
	span >
	a.hero--breadCrumbsItem.hero--breadCrumbsItem-active(href="#")   Монтаж дымоходов
section.hero--container.hero--container-pdtop
	p.hero-paragragh.commons--paragragh В #[a.hero-paragraghLink(href="#" target="_blank") Дымоход.ру] вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
