section.steps--container
	h2.commons--header #[span] Процесс выполнения монтажа
	ul.steps--list
		div
			li.steps--listItem 
				div.steps--listNumber 1
				div.steps--listText Рассчёт предварительной заявки
			li.steps--listItem 
				div.steps--listNumber 2
				div.steps--listText Замер объекта нашим инженером
			li.steps--listItem 
				div.steps--listNumber 3
				div.steps--listText Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
		div
			li.steps--listItem 
				div.steps--listNumber 4
				div.steps--listText Изготовление Дымохода, покраска (если требуется) 
			li.steps--listItem 
				div.steps--listNumber 5
				div.steps--listText Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация 
			li.steps--listItem 
				div.steps--listNumber 6
				div.steps--listText Гарантийное обслуживание по соответствующем сроку 
			
		
