header.header-wrapper 
	.header
		img.header--logo.header--logo-mgLeft(src="./../../assets/images/logo.png" alt="Дымоход лого")
		img.header--burger.header--burger-mgLeft(type="button" src="./../../assets/images/burger.svg")
		
		nav.header--nav.header--nav-mgLeft
			ul
				li.header--navItem 
					a(href="#") Каталог товаров
				li.header--navItem
					a(href="#") Доставка и оплата
				li.header--navItem
					a(href="#") Цены
				li.header--navItem
					a(href="#") Контакты
		a.header--phoneLink.header--phoneLink-mgLeft(href="tel:+78125092198") +7 (812) 
			span 509 21 98
		div.header--callMeLink.header--callMeLink-mgLeft
			a(href="#") Перезвоните мне
		div.header--socialContainer.header--socialContainer-mgLeft
			a.header-socialItem(href="#" target="_blank")
				img.header-socialIcon(src="./../../assets/images/vk.svg" alt="Вконтакте лого")
			a.header-socialItem(href="#" target="_blank")
				img.header-socialIcon(src="./../../assets/images/telegram.svg" alt="Телеграм лого")
			a.header-socialItem(href="#" target="_blank")
				img.header-socialIcon(src="./../../assets/images/instagram.svg" alt="Инстаграм лого")
			a.header-socialItem(href="#" target="_blank")
				img.header-socialIcon(src="./../../assets/images/whatsapp.svg" alt="Whatsapp лого")
		div.header--toolsContainer.header--toolsContainer-mgLeft
			button.header--toolsItem(type="button" onClick="")
				img(src="./../../assets/images/search.svg" alt="Поиск")
			button.header--toolsItem(type="button" onClick="") 
				img(src="./../../assets/images/heart.svg" alt="Избранное")
			button.header--toolsItem(type="button" onClick="")
				img(src="./../../assets/images/cart.svg" alt="Корзина")
				div.header--cartTag 10
