.header {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 152px;
  align-items: center;
  margin: 0 auto;
}
.header--logo {
  width: 100px;
}
.header--logo-mgLeft {
  margin-left: 63px;
}

.header--burger {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: relative;
}
.header--burger-mgLeft {
  margin-left: 51px;
}
.header--burger img:hover {
  width: 60px;
  cursor: pointer;
}

.header--burgerMenu-nonactive {
  display: none;
}
.header--burgerMenu-active {
  display: block;
}
.header--burgerMenu {
  position: absolute;
  top: 138px;
  left: 0px;
  width: 500px;
  background-color: $secondaryLight;
  padding: 50px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 36px;
    .header--navItem a {
      color: $primary;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 24px;
      font-family: $boldFont;
      transition: ease-out 0.5s;
    }
    .header--navItem a:hover {
      color: $white;
    }
  }
}

.header--nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 36px;
    .header--navItem a {
      color: $secondary;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      font-family: $boldFont;
      transition: ease-out 0.5s;
    }
    .header--navItem a:hover {
      color: $rose;
    }
  }
}
.header--nav-mgLeft {
  margin-left: 30px;
}

.header--phoneLink {
  letter-spacing: 0.08em;
  color: $secondary;
  span {
    color: $black;
    font-family: $boldFont;
  }
}
.header--phoneLink-mgLeft {
  margin-left: 98px;
}

.header--callMeLink {
  border-bottom: 1px dotted $roseDark;
  padding-bottom: 5px;
  a {
    font-size: 14px;
    color: $roseDark;
    text-transform: uppercase;
    font-family: $boldFont;
  }
}
.header--callMeLink-mgLeft {
  margin-left: 71px;
}

.header--socialContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.header--socialContainer-mgLeft {
  margin-left: 63px;
}
.header-socialItem {
  svg {
    width: 20px;
  }
}
.header-socialItem:hover {
  svg {
    fill: $rose;
  }
}
.header--toolsContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  .header--toolsItem {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 1px solid $grayLight;
    position: relative;
    transition: ease-out 0.2s;
    img {
      position: absolute;
      top: 15px;
      left: 17px;
    }
  }
  .header--toolsItem:hover {
    cursor: pointer;
    border: 1px solid $secondary;
  }
}
.header--cartTag {
  position: absolute;
  left: 40px;
  top: 3px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: $rose;
  color: $white;
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 800;
  font-size: 11px;
  line-height: 16px;
}
.header--toolsContainer-mgLeft {
  margin-left: 60px;
}

@media (max-width: 1919px) {
  #header-navMenu {
    display: none;
  }
  .header {
    justify-content: space-evenly;
  }
}

@media (max-width: 1220px) {
  .header {
    height: 112px;
    max-width: 1220px;
  }
  .header--logo {
    width: 64px;
  }
  .header--logo-mgLeft {
    margin-left: 16px;
  }
  .header--phoneLink {
    display: none;
  }
  .header--callMeLink {
    display: none;
  }
  .header--socialContainer {
    display: none;
  }
  .header--burger-fixLeft {
    order: 3;
    margin-left: 23px;
    margin-right: 16px;
  }
  .header--toolsContainer {
    order: 2;
    margin-left: auto;
    gap: 25px;
  }
}

@media (max-width: 767px) {
  .header {
    height: 79px;
    max-width: 767px;
  }
  .header--logo {
    width: 48px;
  }
  .header--search {
    display: none;
  }
  .header--heart {
    display: none;
  }
  .header--toolsContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    .header--toolsItem {
      height: 44px;
      width: 44px;
      img {
        top: 10px;
        left: 10px;
        width: 20px;
      }
    }
  }
  .header--cartTag {
    left: 25px;
    top: 1px;
  }
  .header--burger img {
    width: 44px;
    height: 44px;
  }
  .header--burger-fixLeft {
    margin-left: 18px;
    margin-right: 2px;
  }

  .header--burgerMenu {
    padding: 50px 10px;
    max-width: 300px;
    width: 100%;
  }
}
