.hero--btnTheme {
  position: absolute;
  left: 20vw;
  top: 1vh;
  background-color: $secondaryLight;
  color: white;
  font-family: $semiBoldFont;
  font-size: 14px;
  height: 30px;
  width: 120px;
  border-radius: 5px;
}
