footer.footer--wrapper 
	.footer
		.footer--item
			h3.footer--itemHeader КАТАЛОГ
			nav.footer--catalogue
				ul.footer--catalogueList
					li.footer--catalogueListItem
						a(href="") Дымоходы
					li.footer--catalogueListItem 
						a(href="") Камины
					li.footer--catalogueListItem 
						a(href="") Дымососы
					li.footer--catalogueListItem
						a(href="") Силикат кальция
					li.footer--catalogueListItem
						a(href="") Печи для дома
					li.footer--catalogueListItem
						a(href="") Котлы
					li.footer--catalogueListItem
						a(href="") Печи для бани
					li.footer--catalogueListItem
						a(href="") Еще
		.footer--item
			h3.footer--itemHeader ИНФОРМАЦИЯ
			nav.footer--catalogue
				ul.footer--catalogueList
					li.footer--catalogueListItem
						a(href="") Каталог
					li.footer--catalogueListItem 
						a(href="") Полезное
					li.footer--catalogueListItem 
						a(href="") Установка и монтаж
					li.footer--catalogueListItem
						a(href="") Контакты
					li.footer--catalogueListItem
						a(href="") Отзывы
					li.footer--catalogueListItem
						a(href="") Оплата и доставка
					li.footer--catalogueListItem
						a(href="") Ликвидация товара
		.footer--item.footer--timeItem
			h3.footer--itemHeader ВРЕМЯ РАБОТЫ
			div.footer--time 
				include ./../../assets/images/clock.svg
				span.footer-timeParagragh #[span.footer--days  пн-пт]  09:00 - 20:00 #[span.footer--days сб-вс]  10:00 - 18:00

			address.footer--time
				a(href="https://yandex.ru/maps/-/CCUJE0xLOD" target="_blank")
					include ./../../assets/images/placeholder.svg
					span.footer-timeParagragh г. Санкт - Петербург ,ул. Тамбасова д.7
			div.footer--social
				a.footer--socialItem(href="#" target="_blank")
					include ./../../assets/images/vk.svg
				a.footer--socialItem(href="#" target="_blank")
					include ./../../assets/images/telegram.svg
				a.footer--socialItem(href="#" target="_blank")
					include ./../../assets/images/instagram.svg
				a.footer--socialItem(href="#" target="_blank")
					include ./../../assets/images/whatsapp.svg
	div.footer--social-nonactive
				a.footer--socialItem(href="#" target="_blank")
					include ./../../assets/images/vk.svg
				a.footer--socialItem(href="#" target="_blank")
					include ./../../assets/images/telegram.svg
				a.footer--socialItem(href="#" target="_blank")
					include ./../../assets/images/instagram.svg
				a.footer--socialItem(href="#" target="_blank")
					include ./../../assets/images/whatsapp.svg

			
					


