.footer--wrapper {
  width: 100%;
  background-color: $primary;
  height: 350px;
  padding: 10px;
}
.footer {
  width: 1220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 438px 472px 312px;
}
.footer--item {
  margin-top: 88px;
  .footer--itemHeader {
    color: $white;
    font-family: $boldFont;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  .footer--catalogue {
    .footer--catalogueList {
      list-style-type: none;
      display: grid;
      grid-template-columns: 207px auto;
      row-gap: 18px;
      .footer--catalogueListItem a {
        color: $white;
        font-size: 14px;
        line-height: 17.07px;
      }
      .footer--catalogueListItem a:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer--timeItem {
  .footer--time {
    margin: 15px 0;
    .footer-timeParagragh {
      font-family: 'Lato-Regular', sans-serif;
      font-size: 14px;
      font-style: normal;
      color: $white;
      .footer--days {
        color: $secondaryLight;
      }
    }
  }
  .footer--social {
    display: flex;
    flex-direction: row;
    gap: 42px;
    margin-top: 30px;
    .footer--socialItem {
      svg {
        width: 21px;
        fill: $secondaryLight;
      }
    }
    .footer--socialItem:hover {
      svg {
        fill: $rose;
      }
    }
  }
}
.footer--social-nonactive {
  display: none;
}
@media (max-width: 1220px) {
  .footer--wrapper {
    height: 70px;
  }
  .footer {
    display: none;
    .footer--social {
      display: block;
      text-align: center;
    }
  }
  .footer--social-nonactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 42px;
    margin-top: 18px;
    .footer--social-nonactive {
      svg {
        width: 34px;
      }
    }
  }
}
