section.banner--container
	div.text-wrapper
		div.banner--headerContainer
			p.banner--header Lorem Ipsum dolor sit amet
			p.banner--header-rose Lorem Ipsum
		ul.banner--list
			li.banner--listItem 
				div.banner--listDot
				p Доступные цены
			li.banner--listItem 
				div.banner--listDot
				p Собственное производство Дымоходов
			li.banner--listItem 
				div.banner--listDot
				p Выполнение необходимых работ, связанных с установкой<br> камина, печи, котла
			li.banner--listItem 
				div.banner--listDot
				p Гарантия(от трех до десяти лет)
			li.banner--listItem 
				div.banner--listDot
				p Работаем чисто, аккуратно, убираем за собой, не <br>сквернословим
			li.banner--listItem 
				div.banner--listDot
				p Только русские квалифицированные специалисты
			li.banner--listItem 
				div.banner--listDot
				p Устанавливаем любые дымоходы всех производителей

	

	div.banner-image
		img.banner--blob-image(src="./../../assets/images/Blob.png")
		img.banner--chimsey-image(src="./../../assets/images/chimsey.png")
		img.banner--dotsLeft-image(src="./../../assets/images/dots.png")
		img.banner--dotsRight-image(src="./../../assets/images/dots.png")
		img.banner--triangleLeft-image(src="./../../assets/images/triangle.png")
		img.banner--triangleRight-image(src="./../../assets/images/triangle.png")
		