.banner--container {
  display: grid;
  grid-template-columns: 600px auto;
  padding: 50px 0;
}

.banner--headerContainer {
  margin-bottom: 35px;
}
.banner--header {
  font-family: $semiBoldFont;
  font-size: 40px;
}
.banner--header-rose {
  font-family: $extraBoldFont;
  font-size: 50px;
  color: $rose;
  text-transform: uppercase;
  line-height: 77.5px;
}
.banner--list {
  list-style: none;
  .banner--listItem {
    line-height: 22px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 0 26px 0;
    .banner--listDot {
      display: inline-block;
      width: 9px;
      height: 9px;
      background-color: $orange;
      border-radius: 50%;
      margin: 0 15px 0 30px;
    }
  }
}
.banner-image {
  position: relative;
  .banner--blob-image {
    position: absolute;
    top: -8px;
    left: 13px;
    z-index: 1;
  }
  .banner--chimsey-image {
    position: absolute;
    top: -35px;
    left: 195px;
    z-index: 2;
  }
  .banner--dotsLeft-image {
    position: absolute;
    top: -3px;
    left: 158px;
    z-index: 2;
  }
  .banner--dotsRight-image {
    position: absolute;
    right: -99px;
    bottom: -29px;
    z-index: 2;
  }
  .banner--triangleLeft-image {
    position: absolute;
    top: 140px;
    left: 33px;
    z-index: 2;
  }
  .banner--triangleRight-image {
    position: absolute;
    top: 47px;
    right: -158px;
    z-index: 2;
  }
}
@media (max-width: 1220px) {
  .banner--container {
    padding: 29px 0;
    grid-template-columns: 730px;
  }
  .banner--headerContainer {
    margin-bottom: 20px;
  }
  .banner--header {
    font-size: 30px;
  }
  .banner--header-rose {
    font-size: 40px;
    line-height: 60px;
  }
  .banner-image {
    display: none;
  }
}

@media (max-width: 767px) {
  .banner--container {
    padding: 55px 0;
    grid-template-columns: minmax(290px, 737px);
  }
  .banner--header {
    font-size: 18px;
  }
  .banner--header-rose {
    font-size: 30px;
    line-height: 48px;
  }
  .banner--headerContainer {
    margin-bottom: 11px;
  }
  .banner--list {
    .banner--listItem {
      padding: 0 0 26px 0;
      .banner--listDot {
        align-self: center;
        display: inline-block;
        width: 9px;
        height: 9px;
        background-color: $orange;
        border-radius: 50%;
        margin: 0 16px 0 16px;
      }
    }
  }
}
