@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  src: url('../../assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  src: url('../../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 800;
  src: url('../../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  src: url('../../assets/fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Regular';
  font-weight: 400;
  src: url('../../assets/fonts/Lato-Regular.ttf') format('truetype');
}
